<h1>Game details of: <br> {{game.title}}</h1>
<ul>
   
    <li>Price: {{game.price}}</li>
    <li>Year: {{game.year}} </li>
</ul>
<!-- <form (ngSubmit)="onSubmit()"> -->
    <form #updateForm="ngForm" novalidate>
        <div>
            <label>
                Title:
                <!-- <input name="name" id="name" placeholder="Your Name" [(ngModel)]="user.name" ngModel> -->
                <input name="title" id="title" placeholder="Title" ngModel required >
                <!-- <span *ngIf="registrationForm.controls.name.invalid && (registrationForm.controls.name.dirty || registrationForm.controls.name.touched)">Please provide a name</span> -->
                <!-- <span *ngIf="registrationForm.controls.name.invalid && (registrationForm.controls.name.dirty || registrationForm.controls.name.touched)">Please provide a name</span> -->
            </label>
        </div>
        <div>
            <label>
                Price:
                <!-- <input name="username" id="username" placeholder="Your Name" [(ngModel)]="user.username" ngModel> -->
                <input name="price" id="price" placeholder="Price" ngModel >
                <!-- <span *ngIf="registrationForm.controls.username.invalid && (registrationForm.controls.username.dirty || registrationForm.controls.username.touched)">Please provide a name</span> -->
                <!-- <span *ngIf="registrationForm.controls.username.invalid && (registrationForm.controls.username.dirty || registrationForm.controls.username.touched)">Please provide a name</span> -->
            </label>
        </div>
        <div>
            <label>
              Year:
                <!-- <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password" ngModel> -->
                <input type="date" name="year" id="year" placeholder="Year" ngModel>
                <!-- <span *ngIf="registrationForm.controls.password.invalid && (registrationForm.controls.password.dirty || registrationForm.controls.password.touched)">Please provide a name</span> -->
                <!-- <span *ngIf="registrationForm.controls.password.invalid && (registrationForm.controls.password.dirty || registrationForm.controls.password.touched)">Please provide a name</span> -->
            </label>
        </div>
        <button type="button" (click)="update()">Update</button>
        
    </form>
    
