<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Novel Books</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" ng-href="/#!/books">Novels</a>
          </li>
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <form name="vm.userForm" ng-submit="vm.addUser()">
    <fieldset style="margin-left: 15px;">
        <legend>Form to register</legend>
        <div class="form-group">
            <label class="form-control-plaintext">Username</label>
            <input type="text" name="username" size="21" placeholder="username" required ng-model="vm.username">
        </div>
        <div class="form-group">
            <label class="form-control-plaintext">Password</label>
            <input type="password" name="password" size="21" placeholder="password" required ng-model="vm.password">
        </div>
        <div class="form-group">
            <label class="form-control-plaintext">Name</label>
            <input type="text" name="name" size="21" placeholder="name" required ng-model="vm.name">
        </div><br>
        <button type="submit" class="btn btn-primary">Register</button>
    </fieldset>
</form>